:root {
	--accent: #2337ff;
	--accent-light: #88B9E6;
	--accent-bright: #00F0FF;
	--accent-dark: #111222;
	--white: #fff;
	--offwhite: #ddd;
	--gray-very-light: #ccc;
	--gray-light: #aaa;
	--gray: #666;
	--gray-kinda-dark: #555;
	--gray-dark: #333;
	--gray-very-dark: #111;
	--black: #000;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
	--bg-gradient: linear-gradient(165deg, rgba(21, 103, 227, 0.3) 25%, rgba(31, 44, 158, 0.80) 80%);
	--bg-gradient-hover: linear-gradient(165deg, rgba(21, 103, 227, 0.5) 25%, rgba(31, 44, 158, 85) 60%);
	--bg-gradient-x: linear-gradient(165deg, #2D5EA8 0%, #1F2C9E 100%);
	--bg-gradient-x-bright: linear-gradient(165deg, var(--accent-bright) 0%, #1F2C9E 100%);
	--bg-gradient-transparent: linear-gradient(165deg, rgba(45, 94, 168, 0.10) 0%, rgba(31, 44, 158, 0.25) 100%);
}

.highlight {
	background: red !important;
}

/* @font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
} */

body {
	position: relative;
	font-family: 'League Spartan', sans-serif !important;
	font-weight: 300 !important;
	font-size: 1.1em !important;
	margin: 0;
	padding: 0;
	text-align: left;
	/* background: linear-gradient(var(--gray-gradient)) no-repeat; */
	/* background-size: 100% 600px; */
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--offwhite) !important;
	line-height: 1.5em !important;
	/* min-height: 100vh; */
	background-color: var(--accent-dark) !important;
	background: no-repeat url(/images/bg-radial.svg);
	/* background-size: 100%; */
	background-position: top right;
	background-attachment: fixed;
	/* background: var(--bg-gradient) url(/images/bg-line-art-1.svg) top center no-repeat; */
}

body::after {
	z-index: -10;
	content: " ";
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: transparent url(/images/bg-line-art-1.svg) top center no-repeat;
}

/* .body-bg {
	z-index: -10;
	content: " ";
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: transparent url(/images/bg-line-art-1.svg) top center no-repeat;
} */

header {
	border: none !important;
}

a.logo,
a.logo:hover,
a.logo:active,
a.logo:focus {
	padding-top: 3em;
	color: var(--white) !important;
	border: none;
	/* vertical-align: center; */

}

a.logo img {
	/* float: left; */
	display: inline-block;
	height: auto;
	width: auto;
}

a.logo img {
	transition: transform ease-in 100ms !important;
}

a.logo:hover img {
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.40);
	transform: translate(0, -3px);
}

a.logo>span {
	display: inline-block;
	padding: 0 0 0 1.5em;
}

a.logo>span>span {
	clear: both;
	display: block;
}

a.logo>span>span:first-child {
	font-family: 'Lexend Mega', sans-serif;
	text-transform: uppercase !important;
	font-size: 0.95em;
	font-weight: 600;
	letter-spacing: 0.4px;
}

a.logo>span>span:last-child {
	font-family: 'Lexend', sans-serif;
	color: var(--gray-very-light) !important;
	font-size: 0.8em;
	font-weight: 200;
	letter-spacing: 0.4px;
}

.nav {
	font-family: 'Lexend Mega', sans-serif;
	font-size: 0.75em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

.nav-item a {
	display: inline-block;
	position: relative;
	padding: 4.5em 2.5em 0.5em 2.5em;
}

.nav-item a.active::before {
	content: " ";
	position: absolute;
	top: 0;
	right: 2.5em;
	left: 2.5em;
	height: 4px;
	border-radius: 0px 0px 5px 5px;
	background: var(--bg-gradient-x);
}

main {
	/* width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lexend', sans-serif;
	font-weight: 600 !important;
	color: var(--white) !important;
	margin: 0 0 1.5em 0 !important;
	line-height: 1.4em !important;
}

.title h1 {
	font-family: 'Lexend Mega', sans-serif;
	text-transform: uppercase;
	font-size: 2.2em !important;
	/** TEXT GRADIENT */
	color: var(--white) !important;
	background-image: -webkit-linear-gradient(0deg, #fff 0%, #59cbff 75%) !important;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	text-fill-color: transparent !important;
	-webkit-text-fill-color: transparent !important;
}

h1.modal-title {
	font-size: 1em !important;
	margin-bottom: 0 !important;
}

h2 {
	font-size: 1.4em !important;
}

.card-portfolio h2 {
	font-size: 1.2em !important;
}

h2.description {
	font-size: 1.1em !important;
	font-weight: 200 !important;
	letter-spacing: 1px;
	line-height: 1.8em !important;
	color: var(--gray-light) !important;
}

.hero-home h1,
.hero-home h2 {
	font-family: 'League Spartan', sans-serif;
	text-transform: none;
	display: inline;
	font-size: 1.98em !important;
	font-weight: 100 !important;
	line-height: 1.4;
}

.hero-home h1 {
	font-weight: 300 !important;
}

.hero-home h2 {
	color: var(--gray-light) !important;
}

h3 {
	position: relative;
	font-size: 0.9em !important;
}

.card h3::before {
	position: absolute;
	content: " ";
	left: -2.2em;
	width: 7px;
	height: 1.5em;
	border-radius: 0 4px 4px 0;
	background: var(--bg-gradient);
}

h4 {
	font-size: 0.9em !important;
}

h5 {
	font-size: 0.9em;
}

.btn {
	font-size: 1.3em !important;
	color: var(--white);
}

.btn-primary {
	border: none !important;
	padding: 0.4em 1.75em !important;
	border-radius: 15px !important;
	/* background: linear-gradient(180deg, #C7D0F0 0%, #6496A6 100%); */
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	font-family: League Spartan;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	background: var(--bg-gradient-hover) !important;
	transition: transform ease-in 100ms !important;
}

.btn-primary:hover {
	text-shadow: 0px -2px 0px rgba(0, 0, 0, 1);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.40), 0px 1px 0px 0px rgba(255, 255, 255, 0.20) inset !important;
	color: var(--accent-bright) !important;
	transform: translate(0, -1px);
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--white) !important;
	text-decoration: none !important;
	border-bottom: 1px solid var(--accent-bright);
}

main a {
	font-weight: 400;
	display: inline;
}

main ul a {
	border-bottom: none
}

a:hover {
	/* cursor: pointer !important; */
	color: var(--accent-bright) !important;
}

header a {
	border-bottom: none !important;
}

p {
	margin-bottom: 1.5em !important;
	letter-spacing: 0.8px;
}

a p {
	font-weight: 200;
}

/* .binder-paper p {
	border-bottom: 1px dashed #444;
} */

small {
	font-size: 0.75em !important;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

/* img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
} */

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

.form-control {
	border-radius: 10px !important;
	background: var(--black) !important;
}

.form-floating label::after {
	background: var(--black) !important;
}

.tag {
	color: var(--white);
	font-weight: 500;
	font-size: 0.65em;
	letter-spacing: 0.4px;
	display: inline-block;
	line-height: 1.5em !important;
	padding: 0.2em 1em;
	margin: 0 0.75em 1.5em 0;
	border-radius: 50px;
	border: 1px solid var(--accent-light);
}

main ul {
	padding: 0 !important;
	margin: 0 0 2em 0 !important;
	list-style: none;
}

main ul li {
	padding: 0.5em 0;
	border-bottom: 1px solid var(--gray-dark);
}

main ul li i {
	margin-right: 0.25em;
	color: var(--white) !important;
	background-image: var(--bg-gradient-x-bright) !important;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	text-fill-color: transparent !important;
	-webkit-text-fill-color: transparent !important;
}

main ul.big-icons li {
	padding: 0.8em 0;
}

main ul.big-icons li i {
	font-size: 1.5em;
	vertical-align: middle;
	line-height: 1.1em;
}

main ul.big-icons li a:hover i {
	text-indent: -3px;
}

section {
	padding: 0 0 8em 0;
}

footer {
	padding: 5em 0;
}

section.hero-home {
	padding-top: 5em;
}

section.title {
	padding: 8em 0 2em 0;
}

section.hero-detail {
	padding-bottom: 5em;

}

section.hero-detail .img-container {
	padding: 0;
	overflow: hidden;
}


section.hero-detail .img-container img {
	width: 100%;
	border-radius: 20px;
}

section.section-portfolio {
	position: relative;
	padding-top: 2.5em;
}

section.section-portfolio::before {
	content: " ";
	position: absolute;
	top: 0;
	right: 1.3em;
	left: 1.3em;
	border-top: 1px solid var(--gray);
	transition: border-top-color ease-in 500ms;
}

section.section-portfolio:hover::before {
	border-top-color: var(--gray-very-light);
}

section.section-portfolio .section-portfolio-label {
	position: relative;
}

/* section.section-portfolio .section-portfolio-label h2 {
	padding-right: 3em;
} */

section.section-portfolio .section-portfolio-label::before {
	content: " ";
	position: absolute;
	top: -2.49em;
	left: 1.3em;
	width: 70px;
	height: 5px;
	border-radius: 0px 0px 5px 5px;
	background: var(--bg-gradient-x);
}

section.section-portfolio i {
	border: 1px solid var(--gray-dark);
	width: 70px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-size: 40px;
	border-radius: 5px;
	/* color: rgba(153, 153, 153, 1),
		rgba(85, 85, 85, 1); */
	background: #FFFFFF;
	background: linear-gradient(to right, #ddd 0%, #888 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 0.75em;
}

/* section.section-portfolio:hover i {
	background: linear-gradient(to right, var(--accent-light) 0%, var(--accent) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

.modal-fullscreen img {
	/* max-height: 85vh; */
	/* max-height: 1080px; */
	width: 100%;
	max-width: 1600px;
}

footer {
	color: var(--gray-light);
	background: var(--bg-gradient-transparent);
}

/* cards *********************************************/

.card-portfolio,
.card-normal {
	height: 100% !important;
	color: var(--offwhite);
	padding: 2em 0 2em 2em;
	border-radius: 20px !important;
	background: var(--bg-gradient) !important;
	/* background-color: rgba(0, 0, 0, 0.40) !important; */
	backdrop-filter: blur(2px);
	transition: transform ease 300ms;
}

.card-padding {
	overflow: hidden;
	height: 400px !important;
	padding: 2em 2em 0 2em;
}

.card-normal {
	padding: 2em 2em 2em 2em;
	background: var(--bg-gradient-transparent) !important;
}

.card-portfolio {
	overflow: hidden !important;
}

.card-portfolio:hover {
	cursor: pointer;
	background: var(--bg-gradient-hover) !important;
	/* background-color: rgba(0, 0, 0, 0.3) !important; */
	/* -webkit-transition: background-color 1000ms linear;
	-ms-transition: background-color 1000ms linear;
	transition: background-color 1000ms linear; */
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.40), 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset !important;
	backdrop-filter: blur(6px) !important;
	transform: translate(0, -5px);
}

.card-portfolio h3,
.card-normal h3 {
	color: var(--white);
}

.card-portfolio p,
.card-portfolio ul {
	font-size: 1em;
	line-height: 1.4em;
	color: var(--offwhite);
}

.card-normal p,
.card-normal ul {
	color: var(--offwhite);
}

.card-portfolio .img {
	position: relative;
	text-align: right;
}

.card-portfolio .img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 450px;
	border-radius: 15px;
	transition: .2s;
	/* max-height: 400px; */
}

.card-portfolio:hover .img img {
	transform: scale(1.02);
}


.card-portfolio .col-md-12.img img {
	width: 100%;
}

.card-full {
	min-height: 250px;
}

.card-full h3,
.card-full p {
	padding-right: 3em;
}

.card-full .img img {
	top: -5%;
	right: 0;
	width: 100%;
	/* min-height: 250px; */
}

.card-big {
	padding-right: 2em;
	min-height: 600px;
}

.card-big .img img {
	width: 100%;
}

.card-branding {
	min-height: 500px;
}

.card-branding-bg {
	min-height: 500px;
	border-radius: 20px 0 0 20px;
}

.card-branding-presentation {
	display: flex;
	justify-content: center;

	align-items: center;
	/* min-height: 500px; */
	min-height: 400px;
	/* text-align: center;
	vertical-align: middle; */
	border-radius: 20px !important;
	background: var(--offwhite);
}

.card-branding-presentation img {
	max-width: 40%;
	max-height: 150px;
}

/* carousel *********************************************/

.carousel-inner {
	border-bottom: 1px solid var(--gray);
}

.carousel-item {
	/* vertical-align: middle;
	min-height: 560px; */
	text-align: center;
	max-height: 560px;
	overflow-y: hidden;
}

.carousel-item img {
	max-width: 700px;
	border-radius: 10px 10px 0 0;
	/* box-shadow: 0 30px 30px var(--black); */
	box-shadow: 0 20px 40px var(--accent-dark);
	background: var(--accent-dark);
}

.carousel-control-prev {
	left: -4em !important;
}

.carousel-control-next {
	right: -4em !important;
}

section.section-portfolio .carousel-control-prev i,
section.section-portfolio .carousel-control-next i {
	font-size: 1em;
	color: var(--white) !important;
	-webkit-text-fill-color: var(--white) !important;
	border: none;
	background: none;
}

.carousel-dark .carousel-indicators {
	margin-bottom: -2em;
	/* width: auto; */
}

.carousel-dark .carousel-indicators [data-bs-target] {
	flex-shrink: 0;
	width: 1em;
	height: 0.5em;
	fill: currentcolor;
	border-radius: 20px !important;
	border: 1px solid var(--gray-light);
	transition: 0.2s ease-in-out transform;
	box-shadow: 0 5px 10px var(--gray-very-dark);
}

.carousel-dark .carousel-indicators button {
	/* height: 15px !important; */
	width: 22px !important;
}

.carousel-dark .carousel-indicators button.active {
	border: 1px solid var(--white);
	background: var(--bg-gradient-x);
}

/* modal *********************************************/

.modal.show .modal-dialog {
	background-color: var(--bg-gradient-transparent) !important;
}

.modal-header {
	gap: 20px;
	background: var(--bg-gradient-transparent);
}

.modal-body {
	position: relative;
	padding-top: 4em !important;
	background: var(--accent-dark);
}

.modal-body img {
	border-radius: 10px;
	max-width: 1000px;
	box-shadow: 0 30px 30px var(--black);
	background: var(--offwhite);
}

/* .carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {

} */

@media (max-width: 720px) {

	/* body::after {
		
		background-position: top center;
		background-size: cover;
	} */

	/* .navbar-toggler {
		background-color: var(--bg-gradient) !important;
	} */

	/* body {
		font-size: 18px;
	} */

	/* main {
		padding: 1em;
	} */
}

@media (max-width: 428px) {

	.container {
		padding-left: 1.5em !important;
		padding-right: 1.5em !important;
	}

	a.logo,
	a.logo:hover,
	a.logo:active,
	a.logo:focus {
		padding-top: 1.5em;
	}

	a.logo img {
		width: 90px !important;
	}

	a.logo>span {
		padding: 0 0 0 1.0em;
	}

	a.logo>span>span:first-child {

		font-size: 0.85em;
		line-height: 20px;
	}

	a.logo>span>span:last-child {
		font-size: 0.7em;
		line-height: 20px;
	}

	.nav {
		margin-top: 0.5em;
		font-size: 0.6em;
		border-radius: 8px;
		background: var(--bg-gradient-transparent);
	}

	.nav-item a {
		padding: 0.75em 1.8em;
	}

	.nav-item a.active::before {
		right: 1.5em;
		left: 1.5em;
		height: 2px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: center !important;
		margin: 0 0 1.5em 0 !important;
		line-height: 1.4em !important;
	}

	.title h1 {
		font-size: 1.6em !important;

	}

	h1.modal-title {
		margin-bottom: 0 !important;
	}

	h2 {
		font-size: 1.4em !important;
	}

	.card-portfolio h2 {
		font-size: 1.2em !important;
	}

	h2.description {
		font-size: 1em !important;
	}

	.hero-home h1,
	.hero-home h2 {
		display: inline-block;
		font-size: 1.4em !important;
		font-weight: 100 !important;
		line-height: 1.4;
	}

	.hero-home h1 {
		font-weight: 300 !important;
	}

	.hero-home h2 {
		color: var(--gray-light) !important;
	}

	h3 {
		font-size: 0.9em !important;
	}

	.card h3::before {
		display: none;
	}

	h4 {
		font-size: 0.9em !important;
	}

	h5 {
		font-size: 0.9em;
	}

	.card-portfolio,
	.card-normal {
		padding: 2em 2em 0 2em;
	}

	.card-portfolio .img img {
		margin-top: 1em;
		position: static;
		width: 100%;
		min-height: 200px;
		max-height: 300px;
		/* max-height: 400px; */
		border-radius: 15px 15px 0 0;
		background: var(--accent-dark);
	}

	section.title {
		padding: 2em 0 0 0;
	}

	section.hero-detail {
		margin-bottom: 3em;
	}

	section.section-portfolio .section-portfolio-label {
		text-align: center;
	}

	section.section-portfolio .section-portfolio-label::before {
		width: 54px;
		left: calc((100% - 54px)/2);
	}

	section.section-portfolio i {
		font-size: 30px;
		width: 54px;
		height: 54px;
		line-height: 54px;
	}

	section,
	footer {
		padding: 2em 0;
	}

	.carousel-inner {
		max-height: 350px;
	}

	.carousel-item img {
		width: 100%;
		min-height: auto;
		max-width: 700px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}