---
import Layout from "../layouts/Default.astro";
const title = "About Me";
const description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit";
---

<Layout
	title={title}
	description={description}
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg">
	<section class="row title">
		<h1 class="col-12 mb-2">About Me</h1>
		<h2 class="col-12 mb-5 pb-5 description">A brief bio, with my summary of skills and interests</h2>
	</section>
	<section class="row gx-md-5">
		<div class="col-xl-6 binder-paper pe-md-5 pb-5">
			<p style="text-align: left;">
				I’m a Senior UX Designer and a builder of Design Systems based in the Silicon Valley
				working on software platforms, web applications and corporate websites for the past
				10+ years. Currently, I am the Principal Product Designer and Developer at <a
					href="https://www.ecore.design/"
					target="_blank"
					rel="noopener">ECORE Design</a
				> agency. Previously, I held the role of Senior Manager of UI/UX and Web Strategy at <a
					href="https://www.automationanywhere.com/"
					target="_blank"
					rel="noopener">Automation Anywhere</a
				>.
			</p><p style="text-align: left;">
				As a designer at heart, I’ve had the pleasure of working in all facets of the product
				design and development life-cycle:&nbsp; gathering project specifications and goals,
				to user research and task analysis. With this data, I’ve worked alongside stakeholders
				and clients to produce wire frames and low-fidelity designs, to pixel-perfect,
				production ready designs. I've worked closely with development teams and also happen
				to know front-end developemnt as well.
			</p>
			<p style="text-align: left;">
				I’m always on the lookout to work on exciting, challenging and impactful projects. Be
				sure to <a href="/portfolio/">check out my work</a>, and if you’re an employer, here’s
				a <a
					href="https://drive.google.com/file/d/1Lh78EifB6qv15gxZJJo-1nXBNGMTl7qs/view?usp=drive_link"
					target="_blank"
					rel="noopener">link to my resume</a
				>. If you have any questions, please don’t hesitate to <a href="/contact/"
					>contact me</a
				>.
			</p>
		</div>
		<div class="col-xl-6">
			<div class="row gx-md-5">
				<div class="col-xl-6 pb-5">
					<div class="card card-normal">
						<h3>Design Skills</h3><ul>
							<li>User Research</li><li>Wireframing</li><li>
								Low/High-Fidelity Designs
							</li><li>Visual Design Systems</li><li>Adobe Creative Suite</li><li>
								Figma and XD
							</li><li>Iterative Design</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6 pb-5">
					<div class="card card-normal">
						<h3>Development Skills</h3><ul>
							<li>Rapid Prototyping</li><li>HTML</li><li>CSS/SASS</li><li>
								JS/JQUERY
							</li><li>Iterative Development</li><li>Hugo, Gatsby</li><li>
								WordPress, Drupal
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>
