---
import Layout from "../layouts/Default.astro";
const title = "Contact Me";
const description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit";
---

<Layout
	title={title}
	description={description}
	pubDate={new Date("August 08 2021")}
	heroImage="/blog-placeholder-about.jpg">
	<section class="row title">
		<h1 class="col-12 mb-2">{title}</h1>
		<h2 class="col-12 mb-5 pb-5 description">
			Have comments, suggestions or need help on a project?
		</h2>
	</section>
	<section class="row gx-5">
		<div class="col-12">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada
				nunc vel risus commodo viverra. Adipiscing enim eu turpis egestas pretium. Euismod
				elementum nisi quis eleifend quam adipiscing. In hac habitasse platea dictumst
				vestibulum. Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis
				egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Varius
				sit amet mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer
				quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
			</p>
		</div>
	</section>
</Layout>
