---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="home">
		<Header title={SITE_TITLE} />
		<main>
			<section>
				<h1>Welcome. I’m Edward, a senior manager of UX and Design Systems.</h1>
				<h2>
					I specialize in building enterprise-level visual design systems,
					crafting intuitive user experiences, and overseeing fellow designers.
					Additionally, I have a strong affinity for front-end coding. Need help
					on getting your project started? Let’s chat.
				</h2>
			</section>
			<section>
				<h2>Featured Projects</h2>
				
			</section>
		</main>
		<Footer />
	</body>
</html>
