---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="home">
		<Header title={SITE_TITLE} />
		<main class="container mx-auto">
			<section>
				<h1>Welcome. I’m Edward, a Senior Manager of UX and Design Systems.</h1>
				<h2>
					I specialize in building enterprise-level visual design systems,
					crafting intuitive user experiences, and overseeing fellow designers.
					Additionally, I have a strong affinity for front-end coding. Need help
					on getting your project started? <a href="/contact/">Let’s chat</a>.
				</h2>
			</section>
			<section>
				<h2>Featured Projects</h2>
				<div>
					<h3>Project Name Here</h3>
					<p>Project description</p>
					<div class="img">
						<img src="" alt="">
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
