---
import "bootstrap/dist/css/bootstrap.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="home" data-barba="wrapper">
		<Header title={SITE_TITLE} />
		<main class="container mx-auto" data-barba="container" data-barba-namespace="home">
			<section class="hero row">
				<div class="col-md-7">
					<h1>Welcome. I’m Edward, a Senior Manager of UX and Design Systems.</h1>
					<h2>
						I build visual design systems, craft product experiences, and manage
						design teams. Additionally, I have a strong affinity for front-end coding.
						Need help on getting your project started? <a href="/contact/"
							>Let’s chat</a
						>.
					</h2>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-4 text-end align-middle">
					<div class="vstack gap-4 px-5">
						<a href="/portfolio" class="btn btn-primary">My work</a>
						<a href="/about" class="btn btn-primary">About me</a>
					</div>
				</div>
			</section>
			<section class="row gx-5">
				<h2 class="col-12 pb-5">Featured Projects</h2>
				<div class="col-md-6 mb-5">
					<div class="card card-portfolio card-link">
						<div class="row">
							<div class="col-md-6">
								<h3>Automation Anywhere Web Design System 3.0</h3>
								<span class="tag">Design System</span>
								<span class="tag">User Interface</span>
								<p>
									Amet eiusmod ea incididunt tempor enim nisi non veniam.
									Exercitation id Lorem nostrud voluptate nulla ut.
									Pariatur nostrud nisi nostrud adipisicing. Labore
									officia magna magna enim nostrud. Ullamco occaecat
									incididunt non voluptate officia proident.
								</p>
								<a href="#" class="text-link">View project</a>
							</div>
							<div class="col-md-6 img">
								<img
									src="/images/Image Container@2x.png"
									class="object-contain h-96 w-96 float-right"
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-5">
					<div class="card card-portfolio card-link">
						<div class="row">
							<div class="col-md-6">
								<h3>Automation Anywhere Website Redesign 3.0</h3>
								<span class="tag">User Interface</span><span class="tag"
									>User Experience</span
								>
								<p>
									Amet eiusmod ea incididunt tempor enim nisi non veniam.
									Exercitation id Lorem nostrud voluptate nulla ut.
									Pariatur nostrud nisi nostrud adipisicing. Labore
									officia magna magna enim nostrud. Ullamco occaecat
									incididunt non voluptate officia proident.
								</p>
								<a href="#" class="text-link">View project</a>
							</div>
							<div class="col-md-6 img">
								<img
									src="/images/Image Container@2x.png"
									class="object-contain h-96 w-96 float-right"
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12 mb-5">
					<div class="card card-portfolio card-link">
						<div class="row">
							<div class="col-md-5">
								<h3>RM Timing Systems Event Timing App</h3>
								<span class="tag">App Design</span><span class="tag"
									>Xamarin</span
								>
								<p>
									Amet eiusmod ea incididunt tempor enim nisi non veniam.
									Exercitation id Lorem nostrud voluptate nulla ut.
									Pariatur nostrud nisi nostrud adipisicing. Labore
									officia magna magna enim nostrud. Ullamco occaecat
									incididunt non voluptate officia proident.
								</p>
								<a href="#" class="text-link">View project</a>
							</div>
							<div class="col-md-6 img">
								<img
									src="/images/Image Container@2x.png"
									class="float-right"
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
