---
import Layout from "../layouts/Default.astro";
import PortfolioFeatured from "../components/PortfolioFeatured.astro";
import "bootstrap/dist/css/bootstrap.css";
// import BaseHead from "../components/BaseHead.astro";
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const title = "Home";
const description =
	"Welcome. I’m Edward, a Senior UX Designer and Manager of Design Systems.";
const classToggle = "pt-0";
---

<Layout title={title} description={description}>
	<section class="row gx-md-5 hero-home">
		<div class="col-md-7 pt-5 pb-5">
			<h1>
				Welcome. I’m Edward, a Senior UX Designer and Manager of Design
				Systems.
			</h1>
			<h2>
				I specialize in constructing visual design systems for the web,
				shaping user-friendly product experiences, and overseeing design
				teams. Additionally, I have a strong affinity for front-end
				coding. Need help on getting your project started? <a
					href="/contact/">Let’s chat</a
				>.
			</h2>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-4 pt-5 pt-sm-5 text-end align-middle">
			<div class="vstack gap-4 px-5 pt-md-5">
				<a href="/portfolio" class="btn btn-primary mb-md-3">My work</a>
				<a href="/about" class="btn btn-primary">About me</a>
			</div>
		</div>
	</section>
	<h2 class="col-12">Featured Projects</h2>
	<PortfolioFeatured />
	<!-- TO-DO: Overview/About Aside section -->
</Layout>
