---
import { MY_NAME } from "../consts";
const today = new Date();
---

<footer class="container mx-auto text-center">
	<p>&copy; {today.getFullYear()} {MY_NAME}. All rights reserved.</p>
	<p><small>Other trademarks mentioned are copyright their respective owners.</small></p>
</footer>

<!-- <script is:inline src="https://unpkg.com/@barba/core"></script>
<script is:inline src="https://unpkg.com/gsap@latest/dist/gsap.min.js"></script>
<script type="text/javascript">
barba.init({
	transitions: [
		{
			name: "opacity-transition",
			leave(data) {
				return gsap.to(data.current.container, {
					opacity: 0,
				});
			},
			enter(data) {
				return gsap.from(data.next.container, {
					opacity: 0,
				});
			},
		},
	],
});
</script> -->
