---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { MY_NAME } from "../consts";
import { MY_TITLE } from "../consts";
---

<div class="container">
	<header class="d-flex flex-wrap justify-content-center py-5">
		<!-- <nav> -->
		<a
			href="/"
			class="logo d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
			<img src="/images/em-logo@3x.png" alt={SITE_TITLE} />
			<span>
				<span class="logo-name">{MY_NAME}</span>
				<span class="logo-title">{MY_TITLE}</span>
			</span>
		</a>
		<ul class="nav nav-pills pt-3">
			<!-- <HeaderLink href="/">Home</HeaderLink> -->
			<HeaderLink href="/portfolio">Portfolio</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</ul>
	</header>
</div>
