---
// import type { CollectionEntry } from "astro:content";
import "bootstrap/dist/css/bootstrap.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const { title } = Astro.props;
// import FormattedDate from "../components/FormattedDate.astro";

// type Props = CollectionEntry<"portfolio">["data"];

// const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body id={title} data-barba="wrapper">
		<Header />
		<main class="container mx-auto" data-barba="container" data-barba-namespace={title}>
			<slot />
		</main>
		<Footer />
	</body>
</html>
